/*============================================*
 *  base
 *============================================*/

body {
  font: 400 1em/1.4 Avenir,'Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei','Microsoft Sans Serif',sans-serif;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

a:link {
  text-decoration: none;
  color: #333;
}
a:visited { color: #333;}
a:hover { text-decoration: underline; }

/*============================================*
 *  header
 *============================================*/

.site-header {
  border-top: 3px solid #000;
  border-bottom: 1px solid #aaa;
}

.site-header h1 {
  display: inline-block;
  margin: 5px 0;
}

.site-header .navbar {
  position: absolute;
  bottom: 5px;
  right: 0;
}

.site-header a:link {
  margin: 0 0 0 20px;
}

/*============================================*
 *  content
 *============================================*/

.page-content {
  position: relative;
}

/*============================================*
 *  sidebar
 *============================================*/

#sidebar {
  border-right: 1px solid #aaa;
  width: 180px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*============================================*
 *  doc-content
 *============================================*/

#content-container {
  position: absolute;
  left: 220px;
  top: 0;
  width: 800px;
}
