{% if meta.source %}
<div class="source-links">
{% for filename in meta.source %}
    <span class="label label-primary">{{ filename }}</span>
{% endfor %}
</div>
{% endif %}

{{ content }}

<!-- 多说评论框 start -->
	<div class="ds-thread" 
	data-thread-key="{% if meta %}{% for key in meta.duoshuo %}{{ key }}{% endfor %}{% endif %}"
	data-title="{% if meta %}{% for title in meta.title %}{{ title }}{% endfor %}{% endif %}"
	data-url="cherryjs.com{% if meta %}{% for url in meta.url %}{{ url }}{% endfor %}{% endif %}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"cherryjs"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
